//header
.header {
	padding: 20px 0px 30px 0px;
	//cursor: pointer;
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__logo
	&__logo {
	}
	// .header__cart
	&__cart {
	}
}

.logo-header {
	cursor: pointer;
	// .logo-header__icon
	&__icon {
	}
	// .logo-header__text
	&__text {
		font-size: 25px;
		color: #000;
	}
}
.cart-header {
	display: flex;
	align-items: center;
	gap: 30px;
	// .cart-header__total
	&__total {
		font-size: 28px;
		font-weight: 700;
		span {
			color: red;
		}
	}
	// .cart-header__icon
	&__icon {
		position: relative;
		transition: all 0.3s;
		img {
			width: 55px;
			height: 55px;
		}
		span {
			position: absolute;
			bottom: 30px;
			right: 0px;
			font-size: 37px;
			font-weight: 700;
			color: rgb(242, 9, 9);
			background-color: white;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

//=============

.head-catalog {
	// .head-catalog__body
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .head-catalog__sort
	&__sort {
	}
	// .head-catalog__found
	&__found {
	}
	// .head-catalog__search
	&__search {
	}
	// .head-catalog__view
	&__view {
	}
}
.sort-head {
	border: 2px solid #000;
	border-radius: 15px;
	padding: 0px 8px;

	// .sort-head__sort
	&__sort {
		padding: 10px 50px;
		outline: none;
		cursor: pointer;
	}
	// .sort-head__opt
}
.search-head {
	// .search-head__search-inp
	&__search-inp {
		outline: none;
		border: 2px solid #000;
		padding: 10px;
		border-radius: 15px;
		position: relative;
		z-index: 12;
	}
}
.view-head {
	// .view-head__buttons
	&__buttons {
	}
	// .view-head__small
	&__small {
		width: 40px;
		height: 40px;
		background: url("../public/bigs.svg") no-repeat center / cover;
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	// .view-head__big
	&__big {
		background: url("../public/littles.svg") no-repeat center / cover;
		width: 40px;
		height: 40px;
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

//===============
.main-page {
	// .main-page__container
	&__container {
	}
	// .main-page__body
	&__body {
		display: flex;
		gap: 20px;
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}
	// .main-page__aside
	&__aside {
		flex: 0 0 25%;
	}
	// .main-page__content
	&__content {
		flex: 1 1 70%;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	// .main-page__top
	&__head {
	}
	// .main-page__catalog
	&__catalog {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		//grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		gap: 15px;
	}
}

.item-catalog {
	//&.load {
	//	&::before {
	//		content: "Loading...";
	//		color: #ffffff;
	//		font-size: 40px;
	//		text-align: center;
	//		position: absolute;
	//		top: 0;
	//		left: 0;
	//		background-color: rgb(0, 0, 0, 0.7);
	//		width: 100%;
	//		height: 100%;
	//		z-index: 10;
	//	}
	//}
	// .item-catalog__item
	&__item {
		position: relative;
		padding: 0px 15px 25px 15px;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		border: 2px solid rgb(195, 212, 46);
		background-repeat: no-repeat !important;
		background-position: center !important;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			background-color: rgb(0, 0, 0, 0.4);
			border-radius: 15px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	// .item-catalog__title
	&__title {
		text-align: center;
		text-transform: uppercase;
		font-size: 16px;
		color: #ffff;
		font-weight: 700;
		z-index: 2;
		padding: 20px 0px 15px 0px;
		flex: 1 1 auto;
	}
	// .item-catalog__description
	&__description {
		font-size: 14px;
		color: #ffff;
		font-weight: 700;
		display: flex;
		flex-direction: column;
		gap: 8px;
		z-index: 2;
		&:not(:last-child) {
			margin: 0px 0px auto 0px;
		}
	}
	// .item-catalog__buttons
	&__buttons {
		display: flex;
		justify-content: space-between;
		margin: 40px 0px 0px 0px;
	}
}
.description-item {
	// .description-item__category
	&__category {
	}
	// .description-item__brand
	&__brand {
	}
	// .description-item__price
	&__price {
	}
	// .description-item__discount
	&__discount {
	}
	// .description-item__rating
	&__rating {
	}
	// .description-item__stock
	&__stock {
	}
}
.btn-item {
	text-transform: uppercase;
	font-size: 14px;
	color: #ffff;
	font-weight: 700;
	z-index: 2;
	padding: 5px 3px;
	border: 3px solid #ffff;
	transition: all 0.3s;
	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}
}
.buttons-item {
	&.column {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	// .buttons-item__add
	&__add {
	}
	// .buttons-item__details
	&__details {
	}
}

//aside===============
.title-aside {
	text-align: center;
	font-weight: 700;
	font-size: 22px;
	&:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
}

.category-aside__items::-webkit-scrollbar {
	width: 10px;
	background-color: #f4f4f5;
}

.category-aside__items::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #9fa1a1;
}
.brand-aside__items::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #9fa1a1;
}
.brand-aside__items::-webkit-scrollbar {
	width: 10px;
	background-color: #f4f4f5;
}
.btn-aside {
	padding: 10px 30px;
	border: 2px solid #000;
	border-radius: 15px;
	transition: all 0.3s;
	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}
}
.aside-page {
	// .aside-page__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	// .aside-page__buttons
	&__buttons {
	}
	// .aside-page__category
	&__category {
	}
	// .aside-page__brand
	&__brand {
	}
	// .aside-page__price
	&__price {
	}
	// .aside-page__stock
	&__stock {
	}
}
.buttons-aside {
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
	align-items: center;
	// .buttons-aside__reset
	&__reset {
	}
	// .buttons-aside__copy
	&__copy {
	}
}

.category-aside__items,
.brand-aside__items {
	max-height: 220px;
	overflow: auto;
}

.item-sort {
	// .item-sort__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 10px;
		&:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
		cursor: pointer;
		&::before {
			content: "";
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: 1px solid #000;
			margin: 0px 8px 0px 0px;
		}
	}
	// .item-sort__name
	&__name {
		margin: 0px auto 0px 0px;
	}
	// .item-sort__amount
	&__amount {
	}
}

//=====

.range-aside {
	padding: 0px 25px 50px 25px;
	// .range-aside__title
	&__title {
	}
	// .range-aside__values
	&__values {
		display: flex;
		justify-content: space-between;
		padding: 15px 30px;
	}
	// .range-aside__from
	&__from {
	}
	// .range-aside__to
	&__to {
	}
	// .range-aside__input
	&__input {
		position: relative;
	}
}

.multi-range {
	input {
		appearance: none;
		width: 100%;
		outline: none;
		position: absolute;
		top: 0;
		pointer-events: none;
		background-color: transparent;
		height: 5px;
	}
	input::-webkit-slider-thumb {
		appearance: none;
		height: 20px;
		width: 20px;
		background-color: #ed1111;
		cursor: pointer;
		border-radius: 50%;
		pointer-events: auto;
	}
	// .multi-range__track
	&__track {
		width: 100%;
		height: 5px;
		background-color: #000;
		position: absolute;
		top: 0;
		bottom: 0;
	}
	// .multi-range__min
	&__min {
	}
	// .multi-range__max
	&__max {
	}
}
.nofound {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
